/********* scrollbar for none mobile devices*********/
@media (min-width: 500px) {
    *::-webkit-scrollbar {
      width: 0.25rem;
    }
  
    *::-webkit-scrollbar-track {
      background: var(--primary-light-color);
    }
  
    *::-webkit-scrollbar-thumb {
      background: var(--primary-dark-color);
      border: 0.15em solid var(--primary-dark-color);
      border-radius: 100vw;
    }
  
    *::-webkit-scrollbar-thumb:hover {
      background: var(--primary-dark-color);
    }
  
    @supports (scrollbar-color: yellow red) {
      * {
        scrollbar-color: var(--primary-dark-color) var(--primary-light-color);
        scrollbar-width: thin;
      }
    }
  }